.singlePost {
  flex: 9;
  margin-top: 1.2rem;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle {
  /* font-weight: 700; */
  color: black;
  text-align: center;
  margin: 1rem;
  font-size: 2.4rem;
  font-family: "Lora", sans-serif;
}

.singlePostEdit {
  float: right;
  font-size: 1.6rem;
}
.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostDesc {
  color: #666;
  font-size: 1.6rem;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 3rem;
  font-weight: 600;
}
