.login {
  height: calc(100vh - 4.8rem);
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitle {
  font-size: 3.2rem;
  font-family: "Lora", serif;
}
.loginForm {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
}

.loginLabel {
  font-size: 1.8rem;
  margin: 1.2rem 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 2.4rem;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginRegisterButton {
  position: absolute;
  top: 6rem;
  right: 2rem;
  background-color: teal;
  cursor: pointer;
  padding: 1rem;
  border: none;
  color: white;
  border-radius: 10px;
}
